<!DOCTYPE html>
<html>
    <head>
         <title>Phonearoni - Home</title>
         <link type="text/css" rel="stylesheet" href="/static/stylesheet.css"/>
    </head>
    <body>
        <h1>Welcome to Phonearoni!</h1>
        <p>Diversifying your phone knowledge since 2014</p>
        <a class="button" href="/questionaire">Launch Questionaire</a>
        	<h1>Welcome to the Phone Questionnaire!</h1>
            <div class="myButton"><a href="https://google.com">Click Here to Get Started!</a></div>
    </body>
</html>