<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Questionaire</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1>Welcome to the questionaire!</h1>
        <p>This quiz will match you with the phone of your dreams.</p>
        <p>Start the quiz below.</p>
    
        
        <form class="form" title="Questionaire" method="post">
        <h1>iOS vs Android</h1>    
            <input type="radio" name="OS" value="iOS">iOS<br>
            <input type="radio" name="OS" value="Android">Android<br>

        <h1>Screen Size</h1>
            <input type="radio" name="size_in" value=4.0>4.0 inches or less<br>
            <input type="radio" name="size_in" value=4.5>4.0-4.5 inches<br>
            <input type="radio" name="size_in" value=5.0>4.5-5.0 inches<br>
            <input type="radio" name="size_in" value=5.5>5.0-5.5 inches<br>
            <input type="radio" name="size_in" value=6.0>5.5+ inches<br>

        <h1>Photographer Level</h1>
            <input type="radio" name="camera_mp" value=1>I don't take pictures.<br>
            <input type="radio" name="camera_mp" value=2>Scrub<br>
            <input type="radio" name="camera_mp" value=3>Snapchat Addict<br>
            <input type="radio" name="camera_mp" value=4>Insta Worthy<br>
            <input type="radio" name="camera_mp" value=5>I need a DSLR...<br>

            <p><button type="submit">Submit Questionaire</button></p>
        </form>


    </body>
</html>